<% form_tag( session_index_path ) do %>
 <div>
  <label for="username">Имя пользователя:</label>
  <%= text_field_tag :username, '', {:style=>'max-width:100px;font-size:11px;'} %>
 </div>
 <div>
  <label for="password">Пароль:</label>
  <%= password_field_tag :password, '', {:style=>'max-width:100px;font-size:11px;'} %>
 </div>
 <div>
  <label for="remember">Запомнить на этом компьютере</label>
  <%= check_box_tag :remember %>
 </div>
 <%= submit_tag "Login", {:style=>'font-size:10px;'} %>
<% end %>
