<div>
 <% @users.each do | user | %>
  <div class="user">
   <span><%= user.name %></span>
   <% user.users.each do | u | %>
    <span class="<%= u.can_login ? "" : "no" %>login">L</span>
    <span class="<%= u.can_admin ? "" : "no" %>admin">A</span>
    <span class="<%= u.can_post ? "" : "no" %>post">P</span>
   <% end %>
  </div>
 <% end %>
</div>
