<table><tbody>
 <tr>
  <td>ICQ:</td><td>56459678</td>
 </tr>
 <tr>
  <td>mail:</td><td><a href="mailto:afa.alone@gmail.com">afa.alone@gmail.com</a></td>
 </tr>
 <tr>
  <td>Jabber:</td><td>Afalone@jabber.ru</td>
 </tr>
</tbody></table>
