<div>создали, побежали по хотелкам</div>
<div>блог &mdash; уложить в /blog, controller=&gt;Blog</div>
<div>проекты &mdash; укладывать в /(буква проекта). контролеры начинаются с буквы, классы моделей тоже.</div>
<div>заменить хытымыль порнографию на аналог вики. укладывать в /articles. controller=&gt;Article</div>
<div>шоп два раза не вставать &mdash; фотогалерея (не путать с картинками) ляжет в /photo. controller=&gt;FileStored::ImageStored::Photo</div>
