<table><tbody>
<% (@uniqs.keys + @totals.keys).uniq.sort.each do |stat| %>
<tr><td><%= stat -%></td><td><%= @uniqs[stat].counter if @uniqs[stat] -%></td><td><%= @totals[stat].counter if @totals[stat] -%></td></tr>
<% end %>
</tbody></table>
