%div
 - @users.each do |user|
  .user
   %div= user.name
   %div
    %span= link_to user.username, :action=>'show', :id=>user.id
    %span{:class=>[ (user.can_login? ? "allowed" : "blocked"), "right"]}L
    %span{:class=>[ (user.is_admin? ? "allowed" : "blocked"), "right"]}A
    %span{:class=>[ (user.can_post? ? "allowed" : "blocked"), "right"]}P
