<div>
 <% form_for :post, @post do | form | %>
  <%= render :partial=>'blog_post_edit', :locals=>{ :form=>form } %>
 <% end %>
  <%= button_to 'удалить', blog_path(@post), :method=>:delete -%>
</div>

