<table>
<tr><th>Имя</th><th>Книг</th><th>ДД</th></tr>
 <% @authors.each do |author| %>
  <tr>
   <td><%= h author.name -%></td>
   <td><%= author.books_count -%></td>
   <td><%= link_to "show", lib_author_path(author) -%>
  </tr>
 <% end %>
</table>
<%= will_paginate @authors %>
<ul>
<%# @page.paginator.window(:inner => 2, :outer => 1) do |page, path, classes| %>
    <%# content_tag_for :li, page, :class => classes.join(" ") do %>
      <%#= link_to_if path, page.number, path %>
    <%# end %>
  <%# end %>
</ul>
