body {
 background-color:#e0e0e0;
 font-family:Tahoma,Verdana,sans-serif;
}

.flash {
 width:100%;
 padding-bottom:20px;
}
.error, .notice {
 padding:3px;
 margin:2px;
}
.flash .error {
 background-color:red;
}
.flash .notice {
 background-color:green;
}
.main_menu {
 padding-bottom:5px;
 padding-top:3px;
 padding-left:3px;
 background-color:#f0f0f0;
}
.submenu {
 padding-bottom:5px;
 padding-left:7px;
 background-color:#f8f8f8;
 color:#404040;
}

.post {
 padding-bottom:3px;
 margin-bottom:7px;
 background-color:#c0c0e0;
 margin-left:3px;
 margin-right:3px;
 padding-right:2px;
 padding-left:2px;
}
.post .header {
 background-color:#f8f8f8;
 padding-top:5px;
 padding-left:3px;
 padding-right:3px;
 font-weight:bold;
}
.post .date {
 float:right;
 font-weight:normal;
 font-size:10px;
}
.post .links {
 border-top:black 1px #e0e0e0;
}

div.to_do {
 padding-bottom: 3px;
 margin-bottom: 2px;
}
div.to_do span {
 margin-left: 2px;
 margin-right: 2px;
 padding-left: 2px;
}
.to_do .childs {
 margin-left:10px;
 margin-bottom:3px;
}
