<table>
<tr><th>Название</th><th>Авторы</th><th>ДД</th></tr>
 <%# @page.books.each do |book| %>
 <% @books.each do |book| %>
  <tr>
   <td><%= book.name -%></td>
   <td><%= book.authors.collect{|a| [a.first_name, a.last_name].join ' '}.join ', ' -%></td>
   <td><%= link_to "show", lib_book_path(book) -%>
  </tr>
 <% end %>
</table>
<%= will_paginate @books %>
<ul>
<%# @page.paginator.window(:inner => 2, :outer => 1) do |page, path, classes| %>
    <%# content_tag_for :li, page, :class => classes.join(" ") do %>
      <%#= link_to_if path, page.number, path %>
    <%# end %>
  <%# end %>
</ul>
