.row
  .col-lg-9
    = render :partial=>'blog/posts/post', :collection=>@posts
    = will_paginate @posts, {:page_links=>false, :prev_label=>'Свежее', :next_label=>'Раньше'}
  -# <legend>Хотелки</legend>
  -# = todo_render( @todos, { :max_depth => 0 } )
  -# = link_to ("Посмотреть все хотелки", todo_path) if @todos.total_pages > 1 
